*{
    margin: 0px;
    border: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav-bar section */
.logo {
    width: 150px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    
}

.list-items {
    display: flex;
    list-style: none;
    color: #00000079;
}

.list-items li{
    margin-left: 90px;
}